body{
    background-image: url("../images/arcade.jpg");
    /* background-repeat: no-repeat; */
    background-size: contain;
    width: 100%;
  height: 400px;
    background-color: rgb(80, 62, 62);
    display: grid;
    color: #ffcaff;
    text-align: center;
    font-family: serif;
}

.chest{
    grid-row-start: body;
    display: grid;
    grid-template-columns: [game] auto
}
.wrapper {
    display: grid;
    border-style: solid;
    margin: 0 auto;
    max-width: 940px;
    grid-auto-columns: 25%;
    grid-auto-rows: minmax(100px , auto);
}

.wrapperTwo{
    display: grid;
    border-style: solid;
    margin: 0 auto;
    max-width: 940px;
    grid-auto-columns: 25%;
    grid-auto-rows: minmax(100px , auto)
}

#instructions{
    font-family : sans-serif;
    font-size: 18px;
}

.one{
    grid-column: 1 / 5 ;
    grid-row: 1;
    text-align: center;
    font-family: serif;
    border-style: solid;
}

.two{
    grid-column: 2;
    grid-row: 2;
    height: 100px;
    text-align: center;
    font-family: serif;
    border-style: solid;
}

.three{
    grid-column: 3;
    grid-row: 2;
    height: 100px;
    text-align: center;
    font-family: serif;
    border-style: solid;
}

.four{
    grid-column: 1 / 5 ;
    grid-row: 3;
    text-align: center;
    font-family: serif;
    border-style: solid;
}

.crystal{

    flex: 33.33%;
    padding: 5px;
    /* border-style: solid;
    background-color: rgb(160, 152, 152);
    width: 300px;
    height: 250px;
    margin: 20px;
    justify-content: center;
    /* margin-right:auto;
    margin-left:auto; */
    /* margin-top: 20px; */
    /* margin-bottom: 170px; */
}

.crystalimage{
    display: flex;
    flex-direction: row;
}

#EmeraldCrystal{
    grid-column: 1;
    grid-row:3;
    /* border-style: solid; */
    width: 200px;
    /* height: 50px; */

    display: flex;
    float: left;
    height: 80%;
    width: 83.33%;
    /* padding: 5px; */
}

#PurpleCrystal{
    grid-column: 2;
    grid-row:3;
    flex: 33%;
    /* border-style: solid; */
    width: 200px;
    /* height: 50px; */
   
    height: 80%;
    width: 83.33%;

    /* display: flex;
    float: left; */
   
    /* padding: 5px; */
}

#GreenCrystal{
    grid-column: 3;
    grid-row: 4;
    /* border-style: solid; */
    width: 200px;
    /* height: 50px; */

    display: flex;
    float: left;
    width: 33.33%;
    /* padding: 5px; */
}

#BlueCrystal{
    grid-column: 4;
    grid-row: 5;
    /* border-style: solid; */
    width: 200px;
    /* height: 50px; */

    display: flex;
    float: left;
    width: 33.33%;
    /* padding: 5px; */
}

.five{
    border-style: solid;
    grid-column: 2;
    grid-row: 4;
    text-align: center;
}

.six{
    border-style: solid;
    grid-column: 3;
    grid-row: 4;
    text-align: center;
}
.game{
    display: flex;
    /* flex-direction: row;
    height: 200px;
    width: 30%;
    padding: 55%; */
}